---
layout: default
title: "HackSXB, la communauté de développeurs et makers à Strasbourg"
description: "Le HackSXB est une communauté particulièrement active qui mobilise autant les étudiants qu’un public actif. Organisé les derniers vendredis de chaque mois, le HackSXB est une soirée dédiée à la bidouille et à la programmation..."
---

<div class="row">
  <div class="col-md-8 blog-main nopadding">
    <h1 class="page-header"><strong>HackSXB</strong>, la communauté de développeurs et makers à Strasbourg portée par <a href="http://alsacedigitale.org" target="_blank">Alsace Digitale</a></h1> 
    {% capture include_intro %}{% include intro.md %}{% endcapture %}
    {{ include_intro | markdownify }}
    <div class="blog-photogrid">
      <img src="{{ site.url }}/assets/img/hacksxb1.jpg" alt="photo hacksxb">
      <img src="{{ site.url }}/assets/img/hacksxb2.jpg" alt="photo hacksxb">
      <img src="{{ site.url }}/assets/img/hacksxb3.jpg" alt="photo hacksxb">
      <img src="{{ site.url }}/assets/img/hacksxb4.jpg" alt="photo hacksxb">
    </div>
  </div>
  <div class="col-md-4 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset" style="padding-bottom: 0;">
      <h4 class="sidebar-calendar-title"><i class="fa fa-calendar"></i> &nbsp;Derniers événements</h4>
      {% for post in site.categories.events limit:1 %}
      <p class="sidebar-calendar-event"><a href="{{ post.url | prepend: site.url }}" title="{{ post.title }}"><strong>{{ post.title }}</strong></a></p>
      <p class="sidebar-calendar-info"><i class="fa fa-clock-o"> &nbsp;</i>{{ post.event_info }}</p>
        {% if post.event_location && post.event_location != "" %}
        <p class="sidebar-calendar-info"><i class="fa fa-map-marker"> &nbsp;</i>{{ post.event_location }}</p>
        {% endif %}
      <div class="row" style="padding-bottom: 25px;">
        {% if post.event_registration && post.event_registration != "" %}
        <div class="col-xs-6 nopadding">
          <a href="{{ post.url | prepend: site.url }}" class="btn btn-default sidebar-calendar-button-left">+ d'infos</a>
        {%else%}
        <div class="col-xs-12 nopadding">
          <a href="{{ post.url | prepend: site.url }}" class="btn btn-default sidebar-button">+ d'infos</a>
        {%endif%}
        </div>
        {% if post.event_registration && post.event_registration != "" %}
        <div class="col-xs-6 nopadding">
          <a href="{{ post.event_registration }}" target="_blank" class="btn btn-default sidebar-calendar-button-right">J'y vais</a>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-xs-12 nopadding text-center">
        <div class="fb-page" data-href="https://www.facebook.com/HackSXB/" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/HackSXB/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/HackSXB/">Hack SXB</a></blockquote></div>
      </div>
   </div>
  </div>
</div>
