 <div class="blog-masthead">
  <div class="container nopadding">
    <a class="blog-logo" href="{{ site.url }}" title="Retour à l'accueil">
      <img src="{{ site.url }}/assets/img/logo-hacksxb.png" alt="logo hacksxb">
    </a>
    <nav class="blog-nav">
      <div class="blog-nav-item active">
        <a class="blog-nav-title" href="{{ site.url }}">Accueil</a>
        <a class="blog-nav-subtitle" href="{{ site.url }}">L'essentiel</a>
      </div>
      <div class="blog-nav-item">
        <a class="blog-nav-title" href="{{ site.url }}/a-propos/">À propos</a>
        <a class="blog-nav-subtitle" href="{{ site.url }}/a-propos/">La communauté</a>
      </div>
      <div class="blog-nav-item">
        <a class="blog-nav-title" href="{{ site.url }}/events/">Événements</a>
        <a class="blog-nav-subtitle" href="{{ site.url }}/events/">On se rencontre</a>
      </div>
      <div class="blog-nav-item">
        <a class="blog-nav-title" href="{{ site.url }}/projets/">Projets</a>
        <a class="blog-nav-subtitle" href="{{ site.url }}/projets/">On fait des trucs</a>
      </div>
      <div class="blog-nav-item">
        <a class="blog-nav-title" href="{{ site.url }}/ressources/">Ressources</a>
        <a class="blog-nav-subtitle" href="{{ site.url }}/ressources/">Ça peut aider</a>
      </div>
    </nav>
    <a class="blog-nav-cta text-center" href="https://www.facebook.com/groups/402624123157676/" title="Rejoindre la communauté" target="_blank">Rejoindre la<br>communauté</a>
  </div>
</div>